@import '../../../styles/global';

.logo {
  @include font-size(4.8, 4);

  background: none;
  color: #fff;
  border: none;
  z-index: 1000;
  font-weight: 100;

  @media #{$phone} {
    @include font-size(3, 4);

    color: $primary;
  }
}
