@import '../../styles/global';

.work-meta {
  @extend .padding-around-2;

  @include border-radius(5px 5px 0 0);

  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  z-index: 20;
  width: 100%;

  @media #{$phone} {
    position: static;
    width: auto;
    transform: none;
    flex-wrap: wrap;
    text-align: center;
    margin-top: -10px;
  }

  span {
    @extend .padding-horizontal-2;

    border-left: 2px solid #ccc;

    @media #{$phone} {
      width: 100%;
      border-left: none;
      border-top: 1px solid #ccc;
    }

    &:first-child {
      border-left: none;

      @media #{$phone} {
        border-top: none;
      }
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}
