@import '../../../styles/global';

.screenshot {
  @extend .padding-around-4;
  @extend .animated;
  @extend .fadeIn;

  @include box;

  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;

  &--small-height {
    @include border-radius(5px 5px 0 0);
    // @include rems(min-height, 40);

    padding-bottom: 0;

    @media #{$phone} {
      min-height: 0;
    }
  }

  &--medium-height {
    @include border-radius(5px 5px 0 0);

    padding-bottom: 0;
  }

  &:after {
    content: '';
    opacity: 0.7;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.screenshot-wrapper {
  @extend .shadow;

  @include rems(max-width, 160);

  position: relative;
  z-index: 1;

  img {
    display: block;
  }
}

.browser-bar {
  @extend .padding-around-1;

  @include border-radius(5px 5px 0 0);

  display: flex;
  background: #eee;
  border-bottom: 1px solid #ccc;

  &__button {
    @include rems(margin-right, 0.4);
    @include rems(width, 0.6);
    @include rems(height, 0.6);

    display: block;
    border-radius: 50%;

    &:nth-child(1) {
      background: #fc615c;
      border: 1px solid #df4845;
    }
    &:nth-child(2) {
      background: #fdbc40;
      border: 1px solid #dea034;
    }
    &:nth-child(3) {
      background: #33c748;
      border: 1px solid #28ab35;
    }
  }
}

@for $i from 1 through 10 {
  .gradient-#{$i} {
    &:after {
      @extend .gradient-#{$i};

      @include border-radius(4px 4px 0 0);
    }
  }
}
