@import '../../../styles/global';

.work-card {
  @extend .shadow;
  @extend .animated;
  @extend .fadeIn;

  @include border-radius(4px);
  @include rowMachine(2, 4%);

  background: #fff;

  @media #{$phone} {
    @include rowMachine(1, 4%);

    &:nth-child(2n+1):nth-last-child(-n+2),
    &:nth-child(2n+1):nth-last-child(-n+2) ~ * {
      margin-bottom: 4%;
    }
  }

  &__content {
    @extend .padding-around-4;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .launch-date {
    color: $body !important;
  }
}
