@import '../../../styles/global';

.content-block {
  @extend .padding-vertical-5;

  @include rems(max-width, 80);

  margin: 0 auto;
  position: relative;

  @media #{$phone} {
    @include rems(padding-left, 2);
    @include rems(padding-right, 2);
  }
}
