@import '../../../styles/global';

.feature-background {
  @extend .padding-around-5;

  @include box;
  @include border-radius(4px 4px 0 0);
  @include rems(min-height, 60);

  position: relative;
  background: #fff;

  @media #{$phone} {
    @include rems(min-height, 30);
  }

  &:after {
    content: '';
    opacity: 0.7;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &__image {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__title {
    position: relative;
    z-index: 10;
    color: #fff;

    &--underlay {
      @extend .padding-around-5;
      @extend .translucent;
    }
  }
}
