@import '../../../styles/global';

.loading-wrapper {
  @extend .padding-around-3;
  @extend .shadow;

  @include border-radius(50%);

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading {
  color: $primary;
}
