@import '../../../../../styles/global';

.site-header {
  @extend .padding-around-4;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media #{$phone} {
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
    background: #fff;
  }
}
