@import '../../../styles/global';

.blog-card {
  @extend .shadow;
  @extend .animated;
  @extend .fadeIn;

  @include border-radius(4px);
  @include rowMachine(4, 4%);

  animation-duration: 2s;
  position: relative;
  overflow: hidden;

  @media #{$laptop} {
    @include rowMachine(2, 4%);

    &:nth-child(4n+1):nth-last-child(-n+4),
    &:nth-child(4n+1):nth-last-child(-n+4) ~ * {
      margin-bottom: 4%;
    }
  }

  @media #{$phone} {
    @include rowMachine(1, 4%);

    &:nth-child(2n+1):nth-last-child(-n+2),
    &:nth-child(2n+1):nth-last-child(-n+2) ~ * {
      margin-bottom: 4%;
    }
  }

  &__date {
    @extend .padding-around-1;
    @extend .translucent;

    @include border-radius(0 4px 0 4px);

    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
  }

  &__image {
    img {
      display: block;
      transition: 0.4s all linear;
      width: 100%;
    }
  }

  &__title {
    @extend .padding-around-3;
    @extend .shadow;
    @extend .translucent;

    @include border-radius(0 0 4px 4px);

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 0.4s all ease;
  }

  &:hover {
    .blog-card__image {
      img {
        transform: scale(1.2);
      }
    }
  }
}
