@import '../../../styles/global';

.page {
  @extend .padding-around-5;
  @extend .shadow;
  @extend .animated;
  @extend .fadeIn;

  @include border-radius(5px);
  @include rems(max-width, 200);

  background: #fff;
  animation-duration: 2s;
  margin: 0 auto;
  position: relative;

  &.full {
    padding: 0;

    @media #{$phone} {
      @include rems(padding-bottom, 2);
      @include rems(margin-bottom, 2);
    }
  }

  &.narrow {
    @include rems(max-width, 120);
  }
}

.page-content {
  @include rems(max-width, 80);

  margin: 0 auto;

  &.full {
    max-width: 100%;
  }
}

.footer-w {
  @extend .shadow;

  @include rems(width, 10);
  @include rems(height, 10);
  @include border-radius(50%);

  background: url('/favicons/apple-touch-icon-120x120.png') center center no-repeat #fff;
  background-size: 50% auto;
  border: 4px solid #fff;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 10;

  @media #{$phone} {
    @include rems(width, 6);
    @include rems(height, 6);
  }

  &:before {
    @include border-radius(50%);

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    content: '';
    box-shadow: inset 0 0 10px 0 rgba(0,0,0,0.2);
  }
}
