@import '../../../styles/global';

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  & > * {
    position: relative;
    z-index: 10;
  }

  &:before {
    @extend .shadow;

    @include rems(width, 40);
    @include rems(height, 40);
    @include border-radius(4px);

    display: block;
    content: '';
    background: $primary;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%) rotate(45deg);
    z-index: 0;
  }
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
