@import '../../../styles/global';

.button {
  @extend .transition;
  @extend .font-size-6;

  @include border-radius(50px);
  @include rems(padding, 1, 4);

	text-decoration: none;
	cursor: pointer;
	-webkit-appearance: none;
	font-family: 'Raleway', sans-serif;
}

.primary {
  background: $primary;
  color: #fff;
  border: none;

  @media #{$phone} {
    color: $primary;
  }
}

.secondary {
  background: none;
	color: #fff;
	border: none;
}

.icon-button {
  padding: 0;
  background: none;
  border: none;
}
