@import '../../../styles/global';

.trigger {
  @extend .font-size-4;

  position: relative;
  background: none;
  cursor: pointer;
  border: none;
  z-index: 1000;

  @media #{$phone} {
    color: $primary;
  }
}

.navigation {
  @extend .font-size-5;

  text-transform: lowercase;

  @media #{$phone} {
    @include font-size(3, 3.6);
  }

  ul {

    li {
      @extend .padding-vertical-1;
    }
  }

  a {
    @extend .transition;

    color: #fff;
    border-bottom: 1px solid transparent;

    &.active, &:hover {
      border-bottom: 1px solid #fff;
    }
  }
}
