@import '../../../styles/global';

.page-layout {
  @include box;

  min-height: 100vh;
  width: 100%;
}

.page-wrapper {
  @include box;
  @include rems(max-width, 200);
  @include rems(padding, 12);

  margin: 0 auto;

  @media #{$phone} {
    @include rems(padding, 8, 0, 2);
    width: 90%;
  }
}
