@import '../../styles/global';

.flood {
  @include box;
  @include rems(margin, -12, 0);
  @include rems(padding, 12);

  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: #fff;

  @media #{$phone} {
    @include rems(padding, 4, 0);
  }
}

.feature-heading {
  @extend .transition;

  width: 100%;

  &--typed {
    @extend .margin-bottom-3;
  }

  span {
    @media #{$phone} {
      @include rems(min-height, 6);
      
      display: block;
    }
  }
}

.icon {
  @extend .animated;
  @extend .fadeIn;

  @include font-size(6, 6);

  display: block;
  text-align: center;
  padding: 0;
  margin-left: auto;
  margin-right: auto;

  @media #{$phone} {
    @include font-size(2, 2);
  }
}
