@import '../../../styles/global';

.blog-list {
  @extend .margin-bottom-5;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;

  &:last-child {
    margin-bottom: 0;
  }
}
