// Lush - https://uigradients.com/#Lush
$lush-1: #a8e063;
$lush-2: #56ab2f;

// Soundcloud - https://uigradients.com/#soundcloud
$soundcloud-1: #f83600;
$soundcloud-2: #fe8c00;

// Calm Darya - https://uigradients.com/#CalmDarya
$calm-darya-1: #49a09d;
$calm-darya-2: #5f2c82;

// Purplin - https://uigradients.com/#Purplin
$purplin-1: #6a3093;
$purplin-2: #a044ff;

// Mastercard - https://uigradients.com/#MasterCard
$mastercard-1: #f46b45;
$mastercard-2: #eea849;

// Pacific Dream - https://uigradients.com/#PacificDream
$pacific-1: #34e89e;
$pacific-2: #0f3443;

// Black Rose - https://uigradients.com/#BlackRosé
$blackrose-1: #f4c4f3;
$blackrose-2: #fc67fa;

// Ibiza Sunset - https://uigradients.com/#IbizaSunset
$ibiza-1: #ee0979;
$ibiza-2: #ff6a00;

// By Design - https://uigradients.com/#ByDesign
$by-design-1: #009fff;
$by-design-2: #ec2f4b;

// Mello - https://uigradients.com/#Mello
$mello-1: #c0392b;
$mello-2: #8e44ad;

$primary: $soundcloud-1;
$secondary: $soundcloud-2;
$body: #7d7d7d;

.translucent {
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
}
