body {
  @include box;
	background: #ededed;
	color: $body;
	font-family: 'Raleway', sans-serif;
	@extend .font-size-4;
}

#root {
	min-height: 100%;
	position: relative;
}

:global(.container) {
	@include rems(max-width, 120);
  width: 96%;
  margin: 0 auto;

  &.ultra {
    @include rems(padding, 8, 0);
  }

  &.narrow {
    @include rems(max-width, 66);
  }
}

a {
	color: $primary;
	text-decoration: none;
	@extend .transition;
	cursor: pointer;
	&.white {
		color: #fff;
	}
}

header {
	position: relative;
	z-index: 20;
}
