h1 {
  @extend .margin-bottom-4;
	@extend .font-size-7;
  @extend .padding-bottom-2;

  @include rems(letter-spacing, 1);

  font-weight: 100;
  text-transform: uppercase;
	text-align: center;
  border-bottom: 1px solid $primary;

  @media #{$tablet} {
    @include rems(letter-spacing, 0.5);
  }
}

h2 {
  @extend .font-size-6;
	@extend .font-weight-bold;
  @extend .margin-bottom-3;

  text-align: left;
  border-bottom: 1px solid #ccc;
  color: $primary;
}

h3 {
  @extend .font-size-5;
	@extend .font-weight-bold;
}

h4 {
  @extend .font-size-3;
  @extend .font-weight-bold;
  @extend .margin-bottom-1;
}

h5 {
  @extend .font-size-4;
  @extend .font-weight-bold;
}

h6 {
  @extend .font-size-4;
}
