.icon-circle {
	display: inline-block;
	@extend .padding-around-2;
	position: relative;
	&:after {
		content: "";
		display: block;
		padding-bottom: 100%;
		position: absolute;
		width: 100%;
		height: 0;
		top: 50%;
		left: 50%;
		z-index: -1;
		transform: translate(-50%, -50%);
		@include border-radius(50%);
	}
}
