$font-value-1: 1.2;
$font-value-2: 1.4;
$font-value-3: 1.6;
$font-value-4: 2;
$font-value-5: 2.4;
$font-value-6: 3;
$font-value-7: 6;

$line-value-1: 1.6;
$line-value-2: 1.8;
$line-value-3: 2.4;
$line-value-4: 2.8;
$line-value-5: 3.2;
$line-value-6: 3.8;
$line-value-7: 6.8;

.font {
	&-size {
		&-1 {
			@include font-size($font-value-1, $line-value-1);
		}
		&-2 {
			@include font-size($font-value-2, $line-value-2);
		}
		&-3 {
			@include font-size($font-value-3, $line-value-3);
		}
		&-4 {
			@include font-size($font-value-4, $line-value-4);

      @media #{$tablet} {
        @include font-size($font-value-3, $line-value-3);
      }

      @media #{$phone} {

      }
		}
		&-5 {
			@include font-size($font-value-5, $line-value-5);

      @media #{$tablet} {
        @include font-size($font-value-4, $line-value-4);
      }

      @media #{$phone} {
        @include font-size($font-value-3, $line-value-3);
      }
		}
		&-6 {
			@include font-size($font-value-6, $line-value-6);

      @media #{$tablet} {
        @include font-size($font-value-5, $line-value-5);
      }

      @media #{$phone} {
        @include font-size($font-value-4, $line-value-4);
      }
		}
    &-7 {
			@include font-size($font-value-7, $line-value-7);

      @media #{$tablet} {
        @include font-size($font-value-6, $line-value-6);
      }

      @media #{$phone} {
        @include font-size($font-value-5, $line-value-5);
      }
		}
	}
	&-weight {
		&-bold {
			font-weight: bold;
		}
	}
	&-highlight {
		color: $primary;
	}
}
label {
	text-align: left;
	display: inline-block;
}
